.pics1 {
    margin-top: 7rem;
}

.pics2 {
    margin-top: 10rem;
}

.text1 {
    font-size: 1.3rem;
    font-weight: 300;
}

.text2 {
    font-size: 1.2rem;
    font-weight: 300;
}

.text4 {
    font-size: 3.5rem;
}

.pics4{
    margin-top: 10rem;
}

.text5 {
    font-size: 1.5rem;
}

.text6 {
    font-size: 1.6rem;
}

.text7 {
    font-size: 1.2rem;
}

.text8 {
    font-size: 3rem;
}

.text9 {
    font-size: 2.3rem;
}

.col-text {
    font-size: .8rem;
    font-weight: 100;
}

.fab {
    font-size: 1rem;
    margin-right: 2rem;
    margin-top: 1rem;
}

.footbtn {
    position: relative;
    right: 2rem;
    bottom: .1rem;
    padding: .9rem;
    border-radius: 0;
}

.footerLine {
    border-bottom: .2px solid  black;
    margin-top: 5rem;
}

.icon {
    position: relative;
    right: 4rem;
}

.longLine{
    border-bottom: .1px solid grey;
    margin-top: 2rem;
}

.lastLinks{
    justify-content: space-between;
}

.col-text2 {
    font-size: .7rem;
    font-weight: 100;
}