
.paratext {
    font-size: .8rem;
    margin-right: 2rem;
  }
  .containerBox{
    display: flex;
    flex-direction: row;
    font-size: .8rem;
  }
  .dropdown-content{
    width: 1000%;
    padding: 50px;
  }
  
  .dropdown-content li {
    list-style-type: none;
  
  }
  
  .dropbtn {
    color: white;
    padding: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {border-bottom: 2px solid black;}

.pics1 {
    margin-top: 7rem;
}

.pics1-text {
    font-family: 'garamond-premier-pro', serif;
}

.pics2 {
    margin-top: 10rem;
}

.pics2-text {
    font-family: 'Trade Gothic',sans-serif;
}
.text1 {
    font-size: 1rem;
}

.text2 {
    font-size: 1.2rem;
    font-weight: 300;
}

.text4 {
    font-size: 2rem;
}

.pics4{
    margin-top: 10rem;
}

.text5 {
    font-size: 1.5rem;
}

.text6 {
    font-size: 1.6rem;
}

.text7 {
    font-size: 1.2rem;
}

.text8 {
    font-size: 2rem;
}

.text9 {
    font-size: 2.3rem;
}

.col-text {
    font-size: .8rem;
    font-weight: 100;
}

.blackLives {
  font-size: .8rem;
}

.fab {
    font-size: 1rem;
    margin-right: 2rem;
    margin-top: 1rem;
}

.footbtn {
    position: relative;
    right: 2rem;
    bottom: .1rem;
    padding: .9rem;
    border-radius: 0;
}

.footerLine {
    border-bottom: .2px solid  black;
    margin-top: 5rem;
}

.icon {
    position: relative;
    right: 4rem;
}

.longLine{
    border-bottom: .1px solid grey;
    margin-top: 2rem;
}

.lastLinks{
    justify-content: space-between;
}

.col-text2 {
    font-size: .7rem;
    font-weight: 100;
}

footer {
  background-color: grey;
  color: #374e62;
}

@media(max-width: 1200px){

  .order {
   margin-right: 20rem;
  }

  .logo {
    display: none;
  }

  .gender {
    display: none;
  }

  .navbar-toggler-icon {
    display: block;
  }

  .navbar-collapse {
    display: none;
  }

  .topIcon {
    display: none;
  }

  .logo2 {
    text-align: center;
  }

  .pics1 {
    margin-top: 20rem;
  }

  .shop {
    border-radius: 0;
    margin-right: 3rem;
  }

  .pics2 {
    margin-top: 25rem;
  }

  .image {
    width: 40%;
  }

  .pics2-text {
    font-size: 2rem;
  }

  .black {
    margin-bottom: 20rem;
  }

  .move {
    font-size: 2.5rem;
    font-weight: small;
  }

  .noMove {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .butt {
    font-size: .5rem;
    padding: 0 20rem 0 20rem;
  }

  .blackLives {
    font-size: 1rem;
    padding: 0 28rem 1rem 0;
  }

  .movement {
    margin: .2rem 0rem 5rem 0;
  }

  .offer {
    color: black;
  }

  .offerBttn {
    color: black;
    border-bottom: 1px solid black;
    padding-top: 2rem;
  }

  footer {
    background-color: whitesmoke;
  }
  
  .footbtn {
    position: relative;
    left: 10rem;
    /* top: -4.5rem; */
    bottom: 3.4rem;
  }

  

}
  
