.pics1 {
    margin-top: 7rem;
}

.card-title {
    font-family: 'garamond' sans-serif;
    /* font-weight: 400; */
    /* font-size: 4rem; */
}

.card-text {
    font-size: 1.3rem;
    font-weight: 300;
}
